<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="map-progres.css" />
    <link rel="stylesheet" href="navbar.css" />
    <title>Lingkar Hijau</title>
    <link rel="icon" href="plant-img.png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://use.fontawesome.com/b070c8f1df.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
       <!-- Desktop Navbar -->
       <nav class="navbar">
        <a class="nav-logo" href="#">Lingkar Hijau</a>
        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/informationPage">Information</a></li>
          <li class="nav-item"><a href="/location">Location</a></li>
          <li class="nav-item"><a href="/supportPage">Support</a></li>
        </ul>
      </nav>
  
      <!-- Mobile Navbar -->
      <nav class="mobile-menu">
        <div class="icon-menu" id="icon-mobile">
          <button aria-label="button menu dropdown on mobile device" type="button">
            <span class="fa fa-bars fa-lg"></span>
          </button>
        </div>
        <div class="mobile-logo" aria-label="mobile-logo">Lingkar Hijau</div>
      </nav>
  
      <!-- Mobile Drawer -->
      <nav id="drawer" class="nav-mobile">
        <ul class="nav-mob-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/informationPage">Information</a></li>
          <li class="nav-item"><a href="/location">Location</a></li>
          <li class="nav-item"><a href="/supportPage">Support</a></li>
        </ul>
      </nav>
    </header>

  <main tabindex="0" id="main-content">
    <section>
      <div class="progress__map">
          <h2>Pantau Progres Pohonmu Secara Detail</h2>
          <p>
            Berikut adalah pantauan progres penanaman pohon yang tersebar di wilayah
            Indonesia, <br />
            di update secara real-time untuk memberikan informasi terkini
          </p>
        </div>
        <div class="container__map">
          <div class="card-detail">
            <div class="card__desc">
              <div class="card" id="card_container">
              </div>
            </div>
          </div>
    
          <div class="wrapper">
            <div id="map" class="map"></div>
            <script>
              const map = L.map('map').setView([-2.2331, 117.2841], 4.5);
    
              const tiles = L.tileLayer(
                'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                  maxZoom: 19,
                  attribution:
                    '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                }
              ).addTo(map);
              const customIcon = L.icon({
                iconUrl: './free_icon_6.svg',
                iconSize: [50, 45],
              });
    
              const marker_1 = L.marker([-7.628, 108.845], {
                  title: 'Pohon Pinus',
                  icon: customIcon,
                })
                  .bindPopup(
                    '<b>Pohon Pinus H <br> <br> </b><b>Habitat :</b> Tropis <br> <b> Lokasi : </b> Pantai Ayah, Cilacap, Jawa Tengah '
                  )
                  .addTo(map)
                  .openPopup();
      
                const marker_2 = L.marker([-8.4136, 116.4822], {
                  title: 'Pohon Mahoni',
                  icon: customIcon,
                })
                  .bindPopup(
                    '<b>Pohon Mahoni <br> <br> </b> <b>Habitat :</b> Sub Tropis <br> <b> Lokasi : </b> Hutan Gunung Rinjani,Lombok Timur, West Nusa Tenggara, Indonesia '
                  )
                  .addTo(map)
                  .openPopup();
      
                const marker_3 = L.marker([0.49006, 101.45247], {
                  title: 'Pohon Jambu',
                  icon: customIcon,
                })
                  .bindPopup(
                    '<b>Pohon Jambu <br> <br> </b> <b>Habitat :</b> Tropis <br> <b> Lokasi : </b> Hutan di Kelurahan Tengkerang Tengah, Kampar Regency, Riau'
                  )
                  .addTo(map)
                  .openPopup();
      
                const marker_4 = L.marker([-0.8669, 116.9776], {
                  title: 'Pohon Mangga',
                  icon: customIcon,
                })
                  .bindPopup(
                    '<b>Pohon Mangga <br><br> </b> <b>Habitat :</b> Tropis <br> <b> Lokasi : </b> Taman Hutan Raya Bukit Soeharto, Kutai Kartanegara, Kalimantan Timur '
                  )
                  .addTo(map)
                  .openPopup();
              function onMapClick(e) {
                Popup.setLatLng(e.latlng)
                  .setContent(`You clicked the map at ${e.latlng.toString()}`)
                  .openOn(map);
              }
    
              map.on('click', onMapClick);
            </script>
          </div>
        </div>
    </section>
    </main>
    <script src="location.js"></script>
</body>
</html>