<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="responsive.css" />
  </head>
  <body>
    <main>
      <h1 style="text-align: center">Ini home page</h1>
      <div class="list" id="list-pohon" draggable="false"></div>
      <div class="preview-container" id="preview-pohon"></div>
    </main>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
