<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="support.css" />
    <link rel="stylesheet" href="navbar.css">
    <link rel="icon" href="/plant-img.png">
    <title>Lingkar Hijau</title>
    <script src="https://use.fontawesome.com/b070c8f1df.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <header>
      <!-- Desktop Navbar -->
    <nav class="navbar">
      <a class="nav-logo" href="#">Lingkar Hijau</a>
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/informationPage">Information</a></li>
        <li class="nav-item"><a href="/location">Location</a></li>
        <li class="nav-item"><a href="/supportPage">Support</a></li>
      </ul>
    </nav>

    <!-- Mobile Navbar -->
    <nav class="mobile-menu">
      <div class="icon-menu" id="icon-mobile">
        <button aria-label="button menu dropdown on mobile device" type="button">
          <span class="fa fa-bars fa-lg"></span>
        </button>
      </div>
      <div class="mobile-logo" aria-label="mobile-logo">Lingkar Hijau</div>
    </nav>

    <!-- Mobile Drawer -->
    <nav id="drawer" class="nav-mobile">
      <ul class="nav-mob-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/informationPage">Information</a></li>
        <li class="nav-item"><a href="/location">Location</a></li>
        <li class="nav-item"><a href="/supportPage">Support</a></li>
      </ul>
    </nav>
  </header>

    
    <div class="container-support">
      <div class="support-title" style="width: 90%; margin: 0 auto">
        <h1 style="text-align: center; font-size: 25px; margin-bottom: 25px">Kirim Informasi Anda Agar Dapat Terhubung dengan Kami!</h1>
      </div>

      <main>
      <div class="container-form">
        <form action="/support" method="post" class="form-support">
          <div class="form-data-diri">
            <input type="text" placeholder="Nama Anda" required name="nama" />
            <input type="text" placeholder="E-Mail" required name="email" />
            <input type="text" placeholder="No. Handphone" required name="nomorHp" />
          </div>
          <textarea placeholder="Pesan Anda" class="form-pesan" required name="pesan"></textarea>
          <input type="submit" value="Kirim" class="submit-form" />
        </form>
      </div>
    </div>
    </main>
    <script src="support-user.js"></script>
  </body>
</html>
