@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

/* Skip to content */
.skip-content {
  position: absolute;
  background-color: #08764c;
  color: #ffffff;
  top: -100px;
  left: 0;
  padding: 15px;
  display: block;
  min-width: 44px;
  min-height: 44px;
  z-index: 999999;
  text-decoration: none;
}

.skip-content:focus{
  top: 0;
}

/* Desktop Navbar */
.navbar {
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  align-items: center;
  margin-inline: auto;
  padding-block: 1rem;
  z-index: 1001;
  background-color: #ffffff;
  top: 0;
  width: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
  font-family: 'Rancho', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 32px;
  line-height: 40px;
  box-sizing: block;
  min-width: 44px;
  min-height: 44px;
  color: #194D40;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
}

.nav-list li {
  list-style: none;
  text-decoration: none;
}

.nav-list a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #194D40;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.nav-list a:hover {
  color: #ffffff;
  background-color: #194D40;
}

.nav-list a:active {
  transform: scale(0.9, 0.9);
  background-color: #4A947B;
}

.nav-item {
  display: flex;
  text-align: right;
  box-sizing: border-box;
  padding-inline: 10px;
}

.nav-item a {
  min-width: 44px;
  min-height: 44px;
  display: flex;
  align-items: left;
  justify-content: left;
}

/* Mobile Navbar */
.mobile-menu {
  text-align: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  color: #194D40;
  justify-content: space-between;
  padding-block: 10px;
  padding-inline: 20px;
  font-family: 'Rancho', cursive;
}

.nav-mobile {
  margin-block: 10px;
  display: flex;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}

.nav-mobile a {
  display: flex;
  justify-content: left;
  align-items: left;
  text-decoration: none;
  padding: 10px 50px;
  color: #194D40;
}

.nav-mob-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
}

.nav-mob-item {
  box-sizing: border-box;
  display: flex;
  text-align: center;
  line-height: 40px;
  color: white;
}

.nav-mob-item a {
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

.icon-menu button {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-style: none;
  color: #194D40;
  display: flex;
  flex-direction: column;
  min-width: 44px;
  min-height: 44px;
  transition: all .2s ease-in-out;
}

.icon-menu button:active {
  transform: scale(0.9, 0.9);
  color: #4A947B;
}

.mobile-logo {
  font-weight: 500;
  font-size: 32px;
  font-family: 'Rancho', cursive;
}

@media screen and (max-width: 652px){
    .navbar {
      display: none;
    }
  
    .mobile-menu {
      top: 0;
      position: fixed;
      z-index: 999999;
    }
  
    .nav-mobile {
      display: flex !important;
      top: 3em;
      z-index: 9;
      width: 50%;
      position: fixed;
      -webkit-transform: translate(-100%, 0);
      transform: translate(-110%, 0);
      transition: transform 0.3s ease-in-out;
    }
  
    .nav-item a {
      transition: all .2s ease-in-out;
    }
  
    .nav-item a:active{
      transform: scale(0.9, 0.9);
      color: #4A947B;
    }
  
    .open {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  
    .nav-mob-item {
        display: list-item;
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 661px) {
    .mobile-menu {
      display: none;
    }
  
    .nav-mobile {
      display: none;
    }
  }
  
  @media screen and (min-width: 768px) {
    .nav-list ul{
        flex-wrap: wrap;
        column-gap: .5rem;
    }
  }
  
  @media screen and (max-width: 900px) {
    .navbar{
      flex-direction: column;
    }
  
    .nav-list ul{
      flex-wrap: wrap;
      column-gap: .5rem;
    }
  
    .nav-mobile {
      display: none;
    }
  }