@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rancho&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #4a947b;
}

.container {
  display: flex;
  width: 100%;
  /* max-width: 850px; */
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.login {
  width: 400px;
}
.login p {
  font-family: 'Rancho', cursive;
  font-size: 25px;
  color: #08764c;
}
form {
  width: 300px;
  margin: 60px auto;
}

h1 {
  margin: 20px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

hr {
  border-top: 1px solid #08764c;
}

p {
  text-align: center;
  margin: 10px;
}

.right {
  padding-inline: 40px;
  height: 50%;
  display: block;
  margin: auto;
}

form label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

input {
  width: 100%;
  margin: 2px;
  border: none;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  background: #072a2c;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #77c9a5;
}

@media (max-width: 880px) {
  .container {
    width: 100%;
    max-width: 750px;
    margin-left: 0px;
    margin-right: 0px;
  }

  form {
    width: 300px;
    margin: 20px auto;
  }
  input {
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .login {
    width: 500px;
    padding: 20px;
  }

  button {
    width: 100%;
  }

  .right img {
    padding-inline: 0px;
    display: none;
  }

  .right {
    padding-inline: 0px;
    height: 0%;
    width: 0%;
    display: block;
    margin: auto;
  };
}

@media (max-width: 600px) {
  .container {
    max-width: 550px;
    margin-left: 0px;
    margin-right: 0px;
  }
  input {
    margin: 2px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  form {
    width: 200px;
    margin: 1opx auto;
  }
  .login {
    width: 280px;
  }
  button {
    width: 200px;
  }
  .right {
    padding-inline: 0px;
    height: 0%;
    width: 0%;
    display: block;
    margin: auto;
  };
}
