<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="dicoding:email" content="kuncoroariadi@gmail.com">
    <title>Lingkar Hijau</title>
    <link rel="stylesheet" href="information.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="icon" href="plant-img.png" />
    <script src="https://use.fontawesome.com/b070c8f1df.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <!-- Desktop Navbar -->
      <nav class="navbar">
        <a class="nav-logo" href="#">Lingkar Hijau</a>
        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/informationPage">Information</a></li>
          <li class="nav-item"><a href="/location">Location</a></li>
          <li class="nav-item"><a href="/supportPage">Support</a></li>
        </ul>
      </nav>

      <!-- Mobile Navbar -->
      <nav class="mobile-menu">
        <div class="icon-menu" id="icon-mobile">
          <button aria-label="button menu dropdown on mobile device" type="button">
            <span class="fa fa-bars fa-lg"></span>
          </button>
        </div>
        <div class="mobile-logo" aria-label="mobile-logo">Lingkar Hijau</div>
      </nav>

      <!-- Mobile Drawer -->
      <nav id="drawer" class="nav-mobile">
        <ul class="nav-mob-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/informationPage">Information</a></li>
          <li class="nav-item"><a href="/location">Location</a></li>
          <li class="nav-item"><a href="/supportPage">Support</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container-information">
        <div class="title-information" style="width: 100%; background-color: #6bae98; color: white; padding-bottom: 50px; display: flex; align-items: center; justify-content: center">
          <div class="title-container" style="width: 90%">
            <h1 style="font-size: 40px; text-align: center">
              "Hijaukan Harapanmu Bersama Kami, <br />
              Satu Pohon pada Setiap Langkah."
            </h1>
          </div>
        </div>
        <div class="text-information" style="text-align: center; width: 75%; margin: 0 auto">
          <h2 style="font-size: 35px; margin-top: 60px">Tentang Kami</h2>
          <p style="margin-top: 20px; line-height: 1.6; font-size: 18px">
            Lingkar Hijau merupakan inovasi yang dibangun oleh generasi penerus bangsa untuk mewujudkan nafas segar di Nusantara. Hal ini kami lakukan sebagai aksi yang nyata untuk bersatu dalam penghijauan. Inilah jejak pelestarian
            lingkungan melalui kegiatan yang selalu menginspirasi Kami.
          </p>
        </div>
        <div class="content-information">
          <div class="information-1">
            <img src="3.png" alt="Menanam Pohon" />
            <h1>Penanaman Pohon</h1>
            <div class="information-teks">
              <p>
                Melakukan penanaman pohon merupakan kegiatan utama kami untuk mewujudkan penghijauan. Dengan setiap pohon yang ditanam, kami berharap dapat menciptakan lingkungan yang lebih hijau, meningkatkan kualitas udara, dan menyokong
                keanekaragaman hayati.
              </p>
            </div>
          </div>
          <div class="information-2">
            <img src="1.png" alt="Memantau Pohon" />
            <h1>Pemantauan Pohon</h1>
            <div class="information-teks">
              <p>
                Selain menanam, kami juga dengan penuh tanggung jawab merawat setiap pohon yang telah kami tanam. Dengan konsistensi pemantauan kami, perhatian dan kepedulian akan selalu kami berikan untuk memastikan setiap pohon tumbuh
                dengan gemilang dan mewujudkan keindahan alam yang lestari.
              </p>
            </div>
          </div>
          <div class="information-3">
            <img src="2.png" alt="Kampanye Kesadaran" />
            <h1>Kampanye Kesadaran</h1>
            <div class="information-teks">
              <p style="margin-bottom: 100px">
                Kami dengan terbuka menerima siapapun yang ingin bergabung dengan kami. Melalui kampanye kesadaran, kami mengundang setiap individu untuk menjadi agen perubahan, menyatukan langkah demi langkah dalam melindungi lingkungan
                dan menciptakan masa depan yang berkelanjutan.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="information-user.js"></script>
  </body>
</html>
