* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.title-container {
  margin-top: 65px;
}

/* .container-information {
  margin-top: 100px;
} */
.content-information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 30px;
  height: 100%;
  grid-column-gap: 25px;
}

.content-information img {
  width: 250px;
}

.content-information p {
  margin-top: 10px;
  line-height: 1.6;
}

.content-information h1 {
  font-size: 30px;
}
.information-teks {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .content-information {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 900px) {
  .title-information {
    margin-top: 100px;
    padding-top: 0px;
  }
}
@media screen and (min-width: 901px) {
  .title-information {
    padding-top: 50px;
  }
}
@media screen and (min-width: 651px) {
  @media screen and (max-width: 661px) {
    .title-information {
      margin-top: 36px;
    }
  }
}
@media screen and (max-width: 651px) {
  .title-information {
    margin-top: 36px;
  }
}
