@media screen and (max-width: 800px) {
  .list {
    grid-auto-columns: calc((100% / 3) - 12px);
  }
}

@media screen and (max-width: 600px) {
  .list {
    grid-auto-columns: calc((100% / 2) - 12px);
  }
  .close-button {
    padding-inline: 15px;
    margin: 8px;
  }
  .list-nama-2 {
    padding-top: 32px;
  }
  .list-umur {
    font-size: 17px;
  }
  .list-gambar-2 {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  .list {
    grid-auto-columns: calc((100% / 1) - 12px);
  }
}
