@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rancho&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

main {
  width: 100%;
  margin: auto;
}

.progress__map {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-block: 20px;
  padding-inline: 20px;
}
.progress__map h2 {
  color: #194d40;
}
.progress__map p {
  font-size: 15px;
  text-align: center;
}
.container__map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  margin-block: 30px;
}

.card-detail {
  margin-inline: 20px;
}
.card__desc {
  display: flex;
  flex-direction: column;
  height: 420px;
  padding-block: 10px;
  overflow-y: scroll;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  max-width: 200px;
  padding-inline: 20px;
  padding-block: 30px;
  margin-inline: 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}

.card:active {
  transform: scale(0.9, 0.9);
}

.card h2 {
  font-weight: 500;
  font-size: 12px;
  color: #858585;
}
.card p {
  text-overflow: hidden;
  font-family: 'Rancho', sans-serif;
  font-size: 20px;
  color: #194d40;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.map {
  border-radius: 15px;
  width: 700px;
  height: 420px
}

.main-map {
  margin-block: 100px;
}

.content__map {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #d4f5e0;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #77c9a5;
  border-radius: 20px;
}

@media screen and (max-width: 900px) {
  .map {
    width: 500px;
    height: 220px;
    margin-inline: 20px;
  }

  .main-map {
    margin-block: 150px;
  }

  .container__map {
    display: flex;
    flex-direction: column-reverse;
  }
  .progress__map h2 {
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .card-detail {
    display: flex;
    justify-content: center;
    margin-inline: 0px;
  }
  .card__desc {
    padding-inline: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 500px;
    height: auto;
    overflow-y: hidden;
    overflow-x: scroll;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    gap: 0px 20px;
    justify-content: flex-start;
    align-items: top;
    text-align: left;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
    max-width: 200px;
    padding-inline: 10px;
    padding-block: 20px;
    margin-inline: 10px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
  }

  .tree-loc-card {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  ::-webkit-scrollbar {
    height: 10px;
  }
}

@media screen and (max-width: 540px) {
    
  .card-detail {
    margin-block: 10px;
  }

  .card__desc {
    padding-inline: 5px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: auto;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}