* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: #6bae98;
}

.app-bar {
  padding: 8px 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  z-index: 10000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 14px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #08764c;
  font-size: 22px;
  user-select: none;
  padding-top: 10px;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 70px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  overflow: hidden;
  list-style: none;
  margin: 0;
  background-color: #ffffff;
  display: flex;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: #08764c;
  padding: 12px;
  width: 100%;
  font-size: 20px;
}

@media screen and (min-width: 661px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}
